:root {
	--darkest-blue: #0d3953;
}

html {
	background-color: #fff;
	text-rendering: optimizeLegibility;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	width: 100vw;
	max-width: 100%;
}

.container-wrap {
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
}

.header--body {
	background-color: var(--darkest-blue);
	width: 100%;
	height: 60px;
	clear: both;
	position: fixed;
	z-index: 9000;
}

.header--logo-place {
	float: left;
}

.header--logo-place a.logo {
	display: block;
	height: 60px;
	padding: 0 10px 0 20px;
}

.header--logo-place a.logo img {
	width: auto;
	height: 40px;
	position: relative;
	top: 10px;
}

.header--menu-button-place {
	float: right;
}

.header--menu-button {
	width: 60px;
	height: 60px;
	background-color: #0a2e43;
	background-image: url('/images/gamburger.png');
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 11px;
	line-height: 90px;
	text-align: center;
	overflow: hidden;
}

.header--menu-button.for-3d {
	background-color: transparent;
	background-size: 40px;
	background-position: center calc(50% - 6px);
	background-image: url('/images/3d.svg');
}

.header--dropdown-menu {
	width: 100%;
	max-width: 300px;
	background-color: #092535;
	color: #fff;
	position: absolute;
	top: 60px;
	right: -100%;
	transition: 100ms right linear;
}

.header--dropdown-menu.dropdown-open {
	right: 0;
}

.header--dropdown-menu .own-body {
	position: relative;
	height: calc(100vh - 60px);
	overflow: overlay;
	box-sizing: border-box;
}

.header--dropdown-menu .own-body ul {
	list-style-type: none;
}

.header--dropdown-menu .own-body ul li a.dropdown-menu-link, .header--dropdown-menu .own-body .dropdown-menu-section {
	display: block;
	line-height: 60px;
	padding: 0 30px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}

.header--dropdown-menu .own-body .dropdown-menu-section {
	text-transform: uppercase;
	color: #2d7caa;
}

.header--dropdown-menu .own-body .header--social {
	padding: 60px 30px 0;
	height: 60px;
	color: #2d7caa;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
}

.header--dropdown-menu .own-body .header--social img {
	display: block;
}

.content-screen {
	min-height: 100vh;
}

.content-screen.require-background {
	background-size: cover;
	background-position: center;
}

.content-screen.require-background.attached {background-attachment: fixed;}

.landing-screen {
	min-height: 100vh;
	position: relative;
	color: #0a2e43;
}


.top--slider-cont {
	position: absolute;
	top: 100px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	color: #fff;
}

.top--slider-item {
	display: none;
	opacity: 0;
}

.top--slider-item.active {
	display: block;
	opacity: 1;
}

.top--slider-item h1 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 15px;
}

.top--slider-item p {
	font-size: 16px;
	line-height: 1;
	margin-bottom: 15px;
}

.top__slider-dots {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 30px;
}

.top__slider-dots ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	width: 100%;
}

.top__slider-dots span, .top__slider-dots li button {
	display: block;
	width: 40px;
	height: 6px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #97c4e2;
	margin-right: 12px;
	cursor: pointer;
	color: transparent;
}

.top__slider-dots span.active, .top__slider-dots li.slick-active button {
	border-color: transparent;
	background-color: #ffce6a;
}

.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}

.landing-text {
	padding: 20px;
}

.landing-text h1 {
	line-height: 1.2;
	font-size: 24px;
	font-weight: 600;
}

.landing-text p {
	line-height: 1.5;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -.02em;
	margin-bottom: 20px;
}

.landing-text p:last-child {margin-bottom: 0;}


.benefit--block {
	background-color: #0a2e43;
	color: #fff;
}

.benefit--block .benefit--image {
	height: 30vh;
	min-height: 185px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.benefit--block .benefit--text {
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -.02em;
	padding: 20px;
}

.prop--image-filler {
	height: 50vh;
	background-size: cover;
	background-position: center;
}

.head--grey {
	line-height: 1.2;
	font-size: 24px;
	font-weight: 400;
	color: #9fb3c5;
	padding: 20px;
}

#google__map {
	width: 100%;
	padding-bottom: 100%;
}

.map {
	font-size: 16px;
}

.map .landing-text h1 {
	color: #0077bb;
}

.map__legend {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px;
}

.map__legend .map__legend-item {
	display: flex;
	align-items: center;
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.map__legend .map__legend-item img {margin-right: 15px;}

@media screen and (max-width: 567px) {
	.map__legend .map__legend-item {
		flex-direction: column;
		text-align: center;
	}
	.map__legend .map__legend-item img {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}
}

.time-mode {
	box-sizing: border-box;
	height: 20px;
	padding-left: 30px;
	background-image: url('/images/time-mode.svg');
	background-repeat: no-repeat;
	background-position: center left;
}

footer {
	font-size: 14px;
	color: #fff;
	background-color: #0d3953;
	padding: 20px;
	text-align: center;
}

footer div.salvia--logo {
	
}

footer a.salvia--logo {
	display: inline-block;
	margin-bottom: 10px;
}

footer .salvia--logo img {
	display: inline-block;
	width: 150px;
	position: relative;
	bottom: -4px;
}

.footer--copyright {
	margin-bottom: 10px;
}

footer a.bigd--logo {
	display: block;
}

.phone--link {
	margin-bottom: 10px;
}

.phone--link a {
	display: block;
	border-radius: 20px;
	line-height: 40px;
	font-size: 24px;
	margin: 0 auto;
	background-color: #f9b01a;
	color: #fff;
	text-align: center;
	position: relative;
}

.phone--link a span {
	color: #0d3953;
	background-image: url('/images/svg/tel-blue.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 24px;
	padding-left: 30px;
	letter-spacing: -.02em;
}

.apartments-info-slider-horizontal .landing-text h1 {color: #65b9e9;}
.apartments-info-slider-horizontal .landing-text h2 {
	color: rgba(255,255,255,0.83);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	margin: 15px 0;
}
.apartments-info-slider-horizontal .landing-text {color: #fff;}
.apartments-info-slider-horizontal .landing-text ul {
	list-style-type: none;
	font-size: 16px;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
}

.apartments-info-slider-horizontal {
	background-color: #0077bb;
}

/* for slidings */
.apartments-info-slider-horizontal {
	
}

.apartments-info-slider-horizontal .aish-item {
	overflow: hidden;
	background-image: url('/assets/img/icons/down.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) calc(30px - 4px);
	transition: 100ms background-color linear, 100ms color linear;
}

.apartments-info-slider-horizontal .aish-item.active {
	background-image: url('/assets/img/icons/up.svg');
}

.apartments-info-slider-horizontal .aish-item.active .landing-text {
	display: block;
}

.apartments-info-slider-horizontal .aish-item .aish--title {
	font-size: 24px;
	font-weight: 700;
	padding: 0 20px;
	line-height: 60px;
	color: #65b9e9;
}

.apartments-info-slider-horizontal .aish-item .landing-text {
	padding: 0;
	display: none;
	width: 100% !important;
}

.aish-item .landing-text h2, .aish-item .landing-text ul {
	padding: 0 20px;
}

.aish-item .aish--to-apartment {
	padding: 20px;
}

.aish-item .aish--to-apartment .btn {
	padding: 0;
	line-height: 40px;
	padding: 0 20px;
	font-size: 20px;
	border-color: #0c9bee;
}

button.btn {
	background-color: #0789d4;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	padding: 15px 20px;
	height: auto;
	line-height: 1;
}

button.btn.to {
	text-align: left;
}

button.btn.to:before {
	position: absolute;
	top: calc(50% - 13px);
	right: 19px;
	font-family: 'slick';
	font-size: 30px;
	line-height: 1;

	opacity: 1;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '→';
}

h1.page-title {
	font-size: 24px;
	color: #fff;
	padding: 0 0 20px;
	line-height: 1;
}

.apartment--page {
	padding: 20px 20px;
}

.plan--modes {
	height: 60px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.plan--modes .plan--mode {
	height: 60px;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	color: #fff;
}

.plan--modes .plan--mode span.plan-button {
	border: 1px solid #fff;
	border-radius: 50%;
	display: block;
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.plan--modes .plan--mode img {
	display: block;
	width: 40px;
}

.plan--modes .plan--mode.chosen span.plan-button {
	background-color: #092c41;
	border: none;
	
}

.plan--image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 60px - 44px - 40px - 60px);
	box-sizing: border-box;
	padding-top: 20px;
	position: absolute;
}

.plan--image img {
	display: block;
	max-width: 100%;
}

.plan--compass {
	background-image: url('/assets/img/apartments__page/compas-01.svg');
	width: 60px;
	height: 60px;
	right: 0;
	bottom: 0;
	position: absolute;
}

.apartment--info {margin-top: 20px;}

.apartment--info-section {
	border-bottom: 1px solid #fff;
	line-height: 30px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.apartment--info-section-what {
	font-size: 20px;
	
}

.apartment--info-section-value {
	font-size: 24px;
	font-weight: 600;
}

.forms h1 {
	line-height: 1;
	font-size: 20px;
	letter-spacing: -.02em;
}

.apartment--order {margin-top: 40px;}

.order--form h1 {margin-bottom: 10px; color: #0a2e43;}

.order--form {
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
}

.order--form input {
	width: 100%;
	max-width: 100%;
	padding: 0;
	color: #0d3953;
	border-color: #0d3953;
	margin-bottom: 10px;
}

.order--buttons {
	display: flex;
	justify-content: space-between;
}

button {
	font-size: 16px;
	background: none;
	display: block;
	justify-content: space-between;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	white-space: nowrap;
}

.order--buttons button {
	border: 1px solid #0d3953;
	color: #0d3953;
	width: auto;
	font-size: 14px;
}

.order--buttons button.orange {
	border: none;
	background: #fab11a;
	color: #000;
}

.apartment--resources {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.apartment--resources a.download-pdf {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin-top: 10px;
	line-height: 40px;
}

a.download-icon:before {
	content: "";
	width: 28px;
	height: 28px;
	display: block;
	margin-right: 10px;
	background: url(/assets/img/icons/download.svg) no-repeat;
}

.photopage--page {
	max-width: 100vw;
	padding: 20px;
}

.photopage--page h2 {
	line-height: 1;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}

.photopage--page .construction-progress-photo {
	width: 100%;
	border: 5px solid #fff;
	box-sizing: border-box;
	margin-top: 20px;
}

.photopage--page .construction-progress-photo img {
	width: 100%;
}

.buy--page h1, .news--page h1, .selection--page h1 {padding: 20px;}

.bank--item {
	border-top: 1px solid rgba(255,255,255,0.5);
	padding: 15px 20px;
	color: #fff;
}

.bank--item .bank--name {
	font-size: 20px;
	margin-bottom: 15px;
	line-height: 40px;
}

.programs--listing {
	
}


.programs--listing .program--name {
	font-size: 18px;
}

.programs--listing .program--desc {
	font-size: 16px;
	color: #bce3ff;
	padding: 15px;
	margin: 10px 0;
	background-color: rgba(0,0,0,0.2);
}


.news--block {
	padding: 0 20px 20px;
}

.news--block .news--item {
	background-color: #0a2e43;
	color: #fff;
	margin-bottom: 20px;
	user-select: none;
}

.news--block .news--item .news--image {
	padding-bottom: 66%;
	background-size: contain;
	background-position: center;
}

.news--block .news--item .news--expand {
}

.news--block .news--item .news--expand .news--title {
	padding: 15px;
	padding-right: 45px;
	line-height: 20px;
	font-size: 18px;
	background-image: url('/assets/img/icons/down.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) calc(15px + 4px);
	transition: 100ms background-color linear, 100ms color linear;
}

.news--block .news--item.expanded .news--expand .news--title {
	background-color: #fab11b;
	background-image: url('/assets/img/icons/up.svg');
	background-position: calc(100% - 16px) calc(15px + 4px);
}

.news--block .news--item .news--expand .news--text {
	padding: 10px 15px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -.02em;
}

.news--text.news--text-large, .news--text.news--text-small.hidden {
	display: none;
}

.news--text.news--text-large.visible {
	display: block;
}


.parameters--block {
	padding: 0 20px 20px;
	box-sizing: border-box;
	min-height: 404px;
	height: calc(100vh - 64px - 60px - 40px);
	max-height: 420px;
}

.parameter--range {
	margin: 0 10px;
}

.noUi-connect {
	background-color: #fff;
}

.noUi-target {
	position: relative;
	direction: ltr;
	box-sizing: border-box;
	background: #fff;
	border-radius: 4px;
	height: 1px;
}

.noUi-base {
	width: 100%;
	height: 1px;
	position: relative;
	z-index: 1;
}

.noUi-connects {
	background-color: #fff;
	border: none;
	overflow: hidden;
	z-index: 0;
}

.noUi-connect {
	background-color: #fff;
	height: 1px;
}
.noUi-connect, .noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.noUi-horizontal .noUi-origin {
	height: 0;
}

.noUi-handle {
	position: absolute;
	background: #fff;
	cursor: default;
	background-color: #fab11a;
	outline: 0;
	top: -9px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
	right: -9px;
	left: auto;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	color: #000;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	border: none;
	top: -25px;
	color: #fff;
	font-size: 16px;
	transform: translate(-50%,0);
	left: 50%;
}

.parameter--title {
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin: 10px 0 40px;
}

.parameters--section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.parameters--section .section--choice {
	min-width: 100px;
	width: 100%;
	max-width: 50%;
	margin-right: 10px;
	border-radius: 40px;
	line-height: 40px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
}

.parameters--section .section--choice.active {
	background-color: #fff;
	color: #0d3953;
}

.results--block {
	color: #fff;
	font-size: 14px;
	background-color: #0d3953;
	padding-bottom: 20px;
	padding-top: 40px;
	position: relative;
}

.apartment--links.header-slip {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #0d3953;
	border-top: 1px solid transparent;
}

.apartment--links.header-slip.gone {
	top: 60px;
	position: fixed;
	border-color: #2b536f;
}

.apartment--links {
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	padding: 0 20px;
}

#for-results .apartment--links {
	background-color: #0a2e43;
	margin-bottom: 2px;
}

.apartment--info-row {
	flex: 1;
	text-align: center;
	white-space: nowrap;
}

.apartment--info-row.twice {flex: 2;}

.about--block {
	background-color: #fff;
	padding: 20px;
}
.about--block p {
	line-height: 1.5;
	font-size: 16px;
	margin: 0 0 20px;
}

.about--block a {
	display: block;
	width: 200px;
	border-radius: 20px;
	line-height: 40px;
	font-size: 18px;
	margin: 0 auto;
	background-color: #f9b01a;
	color: #0a2e43;
	text-align: center;
	position: relative;
	
}

.owl-carousel {
	height: 100vh;
	overflow: hidden;
}

.owl-nav {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.owl-carousel .owl-item img {
	height: 100vh !important;
	width: auto !important;
}

.slides-navigation a {
	background: #fff;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.slides-navigation a.next {
	background-image: url('/assets/img/icons/right.svg');
	right: 10px;
}
.slides-navigation a.prev {
	background-image: url('/assets/img/icons/left.svg');
	left: 10px;
}

.slides-pagination {
	bottom: 10px;
}

.slides-pagination a {
	background-color: #fff;
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0 4px;
}

.slides-pagination a.current {
	background-color: #f9b01a;
}

.superslides-window-fix {
	max-height: calc(100vh - 60px);
	padding-top: 60px;
}